@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
    background-color: white;
}

#todo_card {
    width: 40%;
    height: auto;
    padding: 2rem;
    border: solid #333 1px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: white;
}

.todo_form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 60%;
    height: 30px;
    padding: 1.2rem;
    margin-right: 1rem;
    border-radius: 30px;
    border: solid #333 1px;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
}

button {
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
    background-color: #88ba8c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

span {
    font-size: 20px;
}

.task_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50%;
}

li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url(../../images/unchecked.png);
    background-size: cover;
    background-position: center;
    right: 90px;
}

li {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
}

li::after{
    content: "";
    position: absolute;
    width: auto;
    height: auto;
    background-image: url(../../images/delete.png);
    background-size: cover;
    background-position: center;
    right: 300px;
}

li.checked {
    color: #555;
    text-decoration: line-through;
}

li.checked::before {
    background-image: url(../../images/checked.png);
    background-repeat: no-repeat;
}